<div class="card-container">
  <div class="card" [class.sale]="product.isOnSale">
    <div class="img"><img [src]="product.imgUrl"></div>
    <div class="details">
      <h2>{{product.name}}</h2>
      <h3>$ {{product.price}}</h3>
      <div>
        <button class="btnDct" *ngIf="product.qtyInCart > 0" (click)="decrInCart()">-</button>
        <span> Cart options </span>
        <button class="btnInc" (click)="incrInCart()">+</button>
      </div>
      <span>Select quantity: </span>
      <select class="selectQty">
        <option [value]="qty" *ngFor="let qty of quantities">{{qty}}</option>
      </select>
    </div>
  </div>
</div>


<div class="floating-icon">
  <i class="number">{{product.qtyInCart}}</i>
</div>
